
  <h1>Mario's Specialty Food Products</h1>
    <p class="heading">Amazing products from around the globe.</p>
      <h2>Available Products</h2>
      <% if @products.any? %>
      <ul>
        <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
      </ul>
        <% else %>
          <p>There are no products yet.</p>
        <% end %>
         <%= image_tag "zero_waste_store.jpg" %>
        <%= will_paginate @product, renderer: BootstrapPagination::Rails %>
        <% if current_user && current_user.admin %>
        <p><%= link_to "Create new product", new_product_path %></p>
        <% end %>
        <footer><p><%= link_to "Return to Homepage", home_path %></p>
