<div>
  <h1>Product: <%= @product.name %></h1>
  <h2>Review:</h2> <p><%= @review.content_body %></p>

  <h3>Submitted by:</h3> <h4><%= @review.author %></h4>
  <h3>Rated: <%= @review.rating %> stars</h3>


  <p><%= link_to "Edit review", edit_product_review_path(@product, @review) %></p>
  <p><%= link_to "Delete review", product_review_path(@product, @review),
                          :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %></p>

  <p><%= link_to "Return to product", product_path(@product) %></p>
  </div>