<%= render "layouts/errors", :object => @review %>

<%= form_for [@product, @review] do |f| %>
      <%= f.label :author %>
      <%= f.text_field :author %>
      <br>
      <%= f.label :review %>
      <%= f.text_area :content_body %>
      <br>
      <%= f.label :rating %>  
      <%= f.label :rating, "1" %>
      <%= f.radio_button(:rating, "1") %> 
      <%= f.label :rating, "2" %>
      <%= f.radio_button(:rating, "2") %> 
      <%= f.label :rating, "3" %>
      <%= f.radio_button(:rating, "3") %> 
      <%= f.label :rating, "4" %>
      <%= f.radio_button(:rating, "4") %> 
      <%= f.label :rating, "5" %>
      <%= f.radio_button(:rating, "5") %> 
      <br>
      <p><%= f.submit %></p>
    <% end %>