<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Specialty Food</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container">
      <div class = "box">
      <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/products">Products</a>
        <a class="navbar-brand" href="/users/sign_in">Sign In</a>
        <a class="navbar-brand" href="/users/sign_up">Sign Up</a>
        <a class="navbar-brand" href="/users/sign_out" data-method="delete" value="<%= destroy_user_session_path%>">Sign Out</a>
      </nav>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
