<!DOCTYPE html>
<html>
  <head>
    <title>Mario's Specialty Food</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "container">
    <%= flash[:notice] %>
    
    <%= yield %>
    </div>
  </body>
</html>
